<footer class="p-4 text-sm text-center mt-auto flex flex-col">
  <hr class="border-t-2 dark:border-gray-700 border-gray-200 sm:hidden">

  <ul class="flex justify-center gap-x-2 flex-col sm:flex-row gap-2 w-full">
    <li class="">
      <a href="https://twitter.com/{{ site.twitter_username }}" class="hover:bg-neutral-700 px-2 py-1 h-full flex gap-1 justify-center items-center">
        <span>Twitter</span><span class="border-b border-solid border-neutral-200">(@{{ site.twitter_username }})</span></a>
    </li>
    <vl class="border-r-2 dark:border-gray-700 border-gray-200"></vl>
    <li class="">
      <a href="https://github.com/{{ site.github_username }}" class="hover:bg-neutral-700 px-2 py-1 h-full flex gap-1 justify-center items-center">
        <span>GitHub</span><span class="border-b border-solid border-neutral-200">(@{{ site.github_username }})</span></a>
    </li>
    <vl class="border-r-2 dark:border-gray-700 border-gray-200"></vl>
    <li class="">
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="hover:bg-neutral-700 px-2 py-1 h-full flex gap-1 justify-center items-center">
        <span>LinkedIn</span><span class="border-b border-solid border-neutral-200">(@{{ site.github_username }})</span></a>
    </li>
  </ul>
</footer>
